<!DOCTYPE html>
<html lang="en" ng-app="flatAuth">
  <head>
    <title>Flat</title>
    <link rel="stylesheet" href="/dist/css/flat-site.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body class="flat-dark flat-signup">
    <div class="wrapper" ng-view></div>

    <script>var _csrf = '{_csrf}';</script>
    <script src="/dist/js/common.js"></script>
    <script src="/js/auth/app.js"></script>
    <script src="/js/auth/controllers.js"></script>
    <script src="/js/auth/services.js"></script>
    <!-- <script src="/dist/js/flat-auth.min.js"></script> -->
  </body>
</html>