doctype 5
html(lang='en')
  head
    title
      | Flat - 
      block title 
    link(rel='stylesheet', href='/css/flat-site.css')
  body.flat-dark.flat-signup(ng-app='flatSignin')
    .wrapper.span4
      h1
        img(src='/img/logo-200.png', alt='Flat, compose everywhere')
        span
          block title
      .content.row
        block content