<!DOCTYPE html>
<html lang="en" ng-app="flatDashboard">
  <head>
    <title>Flat - Dashboard</title>
    <link rel="stylesheet" href="/dist/css/flat-site.css">
  </head>
  <body class="flat-dashboard">

    <div class="navbar navbar-fixed-top header">
      <div class="container">
        <div class="pull-left logo">
          <a href="#/"><img src="/img/logo-header.png" alt="Flat, compose everywhere" /></a>
        </div>
        <div class="pull-right account">
          <a href=""><img src="https://secure.gravatar.com/avatar/{{account.email_md5}}?s=30" /></a>
          <!-- <a href="#" ><a class="btn btn-primary">Button</a></div> -->
        </div>
        <div class="pull-right actions">
          <a href="#/score/new" data-toggle="tooltip" title="{{'flat:score.new' | i18next}}"><i class="glyphicon glyphicon-plus"></i></a>
          <a href="#/account" data-toggle="tooltip" title="{{'flat:account.my' | i18next}} ({{account.username}})"><i class="glyphicon glyphicon-user"></i></a>
          <a href="/auth#/logout" data-toggle="tooltip" title="{{'flat:logout' | i18next}}"><i class="glyphicon glyphicon-off"></i></a>
        </div>
      </div>
    </div>

    <div class="content-wrapper container" ng-view></div>

    <div class="container footer">
      <div class="pull-left">&copy; 2013 Flat</div>
      <div class="pull-right">
        <a ng-i18next="flat:about">About Flat</a> -
        <a ng-i18next="flat:tos">Terms of Service</a> -
        <a ng-i18next="flat:privacy">Privacy</a>
      </div>
    </div>

    <script>var _csrf = '{_csrf}';</script>
    <script src="/dist/js/common.js"></script>
    <script src="/js/dashboard/app.js"></script>
    <script src="/js/dashboard/controllers.js"></script>
    <script src="/js/dashboard/services.js"></script>
    <!--<script src="/dist/js/flat-dashboard.min.js"></script>-->
  </body>
</html>