<!DOCTYPE html>
<html lang="en" ng-app="flatDashboard">
  <head>
    <title>Flat - Dashboard</title>
    <link rel="stylesheet" href="/dist/css/flat-site.css">
  </head>
  <body class="flat-dashboard">

    <div class="navbar navbar-fixed-top header">
      <div class="container">
        <div class="pull-left logo"><img src="/img/logo-header.png" alt="Flat, compose everywhere" /></div>
        <div class="pull-right signin"><a href="#" ><a class="btn btn-primary">Button</a></div>
      </div>
    </div>

    <div class="content-wrapper container" ng-view>Content</div>

    <script>var _csrf = '{_csrf}';</script>
    <script src="/dist/js/common.min.js"></script>
    <script src="/js/dashboard/app.js"></script>
    <script src="/js/dashboard/controllers.js"></script>
    <script src="/js/dashboard/services.js"></script>
    <!--<script src="/dist/js/flat-dashboard.min.js"></script>-->
  </body>
</html>