//
// Flat - Editor
// --------------------------------------------------

.toolbar-top {
  width: 100%;
  background: #FF0000;

  .first, .second {
    height: 30px;
    display: none; // TMP, TODO
  }

  .first {
    background: #FF0000;
  }

  .second {
    background: #00FF00;
  }
}

.toolbar-bottom {
  position: fixed;
  bottom: 0;
  height: 40px;
  width: 100%;
  background: #000;

  display: none; // TMP, TODO
}

.canvas-score {
  width: 100%;
  height: 300px; /* TMP */
}