<h1>
  <img src="/img/logo-200.png" alt="Flat, compose everywhere">
  <span>Sign in</span>
</h1>

<div class="alert alert-error" ng-show="errors">
  <a class="close" data-dismiss="alert" ng-click="errors = false">&times;</a>
  <ul ng-repeat="error in errors" ng-show="errors.length > 1"><li>{{error}}</li></ul>
  <span ng-show="errors.length == 1">{{errors[0]}}</span>
</div>
<div class="content">
  <div class="federated">
    <a class="btn btn-google"><i class="icon-federated-google"></i>Sign in with Google</a>
    <a class="btn btn-facebook"><i class="icon-federated-facebook"></i>Sign in with Facebook</a>
    <a class="btn btn-twitter"><i class="icon-federated-twitter"></i>Sign in with Twitter</a>
  </div>
  <div class="form">
    <div class="row signin">
      <form ng-submit="signin()">
        <input type="text" placeholder="Username" class="span12 form-inline" ng-model="username" name="username" required />
        <input type="password" placeholder="Password" class="span12 form-inline" ng-model="password" name="password" required />
        <p class="pull-right submit">
          <input type="submit" value="Sign in" class="btn btn-primary" />
        </p>
      </form>
    </div>
  </div>
  <div class="other-action">
    You need an account ?&nbsp;<a href="#/signup">Sign up</a>
  </div>
</div>