<h1>
  <img src="/img/logo-200.png" alt="Flat, compose everywhere">
  <span>Sign in</span>
</h1>

<div class="content row">
  <div class="span6 federated">
    <a class="btn btn-google"><i class="icon-federated-google"></i>Sign in with Google</a>
    <a class="btn btn-facebook"><i class="icon-federated-facebook"></i>Sign in with Facebook</a>
    <a class="btn btn-twitter"><i class="icon-federated-twitter"></i>Sign in with Twitter</a>
  </div>
  <div class="span6 form">
    <div class="row signin">
      <input type="text" placeholder="Username" class="span12 form-inline">
      <input type="password" placeholder="Password" class="span12 form-inline">
      <p class="pull-right submit">
        <input type="submit" value="Sign in" class="btn btn-primary">
      </p>
    </div>
  </div>
  <div class="span12 other-action">
    You need an account ? <a href="#/signup">Sign up</a>
  </div>
</div>