<!DOCTYPE html>
<html lang="en" ng-app="flatEditor">
  <head>
    <title>Flat - Editor</title>
    <link rel="stylesheet" href="/dist/css/flat-editor.css">
  </head>
  <body class="flat-editor">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
            <i class="logo"></i>
        </div>
      </div>
    </div>

    <div class="flat-body" ng-view>
      
    </div>
    <div class="container footer">
      <div class="pull-left">&copy; 2013 Flat</div>
      <div class="pull-right">
        <a ng-i18next="flat:about">About Flat</a> -
        <a ng-i18next="flat:tos">Terms of Service</a> -
        <a ng-i18next="flat:privacy">Privacy</a>
      </div>
    </div>
    <script>var _csrf = '{_csrf}';</script>
    <script src="/dist/js/common.js"></script>
    <script src="/js/deps/underscore-min.js"></script>
    <script src="/js/deps/raphael-min.js"></script>
    <script src="/js/deps/MIDI/Base64.js"></script>
    <script src="/js/deps/MIDI/base64binary.js"></script>
    <script src="/js/deps/MIDI/MIDI.min.js"></script>
    <script src="/dist/js/fermata.js"></script>
    <script src="/js/editor/app.js"></script>
    <script src="/js/editor/controllers.js"></script>
    <script src="/js/editor/services.js"></script>
    <script src="/js/editor/interac/Flat.Interac.js"></script>
    <script src="/js/editor/interac/Flat.Cursor.js"></script>
    <script src="/js/editor/interac/Flat.Interac.Mouse.js"></script>
    <script src="/js/editor/interac/Flat.Player.js"></script>
    <!--<script src="/dist/js/flat-dashboard.min.js"></script>-->
  </body>
</html>