<!DOCTYPE html>
<html lang="en" ng-app="flatEditor">
  <head>
    <title>Flat</title>
    <link rel="stylesheet" href="/dist/css/flat-editor.css">
  </head>
  <body class="flat-editor">
<!--     <div class="toolbar-top">
      <div class="first"></div><div class="second"></div>
    </div>
 -->
    <div toolbar-menu class="toolbar-top"></div>
    <div editor id="canvas-score" class="canvas-score"></div>

<!--     <div>
      <div id="canvas-score" class="canvas-score" ng-click="ManageClick($event)"></div>
      <div id="error"></div>
    </div> -->


    <i class="flat-icon-treble"></i>
    <i class="flat-icon-flat"></i>

    <div class="toolbar-bottom"></div>

    <div ng-view></div>
    <script>var _csrf = '{_csrf}';</script>
    <script src="/dist/js/common.js"></script>
    <script src="/dist/js/common-editor.js"></script>
    <script src="/dist/js/fermata.js"></script>
    <script src="/js/modules/flat.js"></script>
    <script src="/js/editor/app.js"></script>
    <script src="/js/editor/controllers.js"></script>
    <script src="/js/editor/services.js"></script>
    <script src="/js/editor/flat.editor.js"></script>
    <script src="/js/editor/flat.editor.toolbarMenu.js"></script>
    <script src="/js/editor/interac/Flat.Interac.js"></script>
    <script src="/js/editor/interac/Flat.Cursor.js"></script>
    <script src="/js/editor/interac/Flat.Interac.Mouse.js"></script>
    <script src="/js/editor/interac/Flat.Player.js"></script>
    <!--<script src="/dist/js/flat-editor.min.js"></script>-->
  </body>
</html>