<a class="feedback" id="single_image" href="RAS">Feeback</a>
<div class="tools-menu">
  <div class="toolbar toolbar-transport">
    <div class="menu-button">
      <i class="play-button"></i>
    </div><div class="menu-button">
      <i class="stop-button"></i>
    </div>  
  </div>
  <div class="toolbar toolbar-elements">
    <ul class="navigation">
      <li class="toggleSubMenu"><span></span>
        <ul class="subMenu">
          <li><a href="#" title="tool description" class="add-tick"></a></li>
          <li><a href="#" title="tool description"></a></li>
          <li><a href="#" title="tool description"></a></li>
          <li><a href="#" title="tool description"></a></li>
          <li><a href="#" title="tool description"></a></li>
          <li><a href="#" title="tool description"></a></li>
        </ul>
      </li>
      <li class="toggleSubMenu"><span></span>
        <ul class="subMenu">
          
        </ul>
      </li>
      <li class="toggleSubMenu"><span></span>
        <ul class="subMenu">
        
        </ul>
      </li>
      <li class="toggleSubMenu"><span></span>
        <ul class="subMenu">
          
        </ul>
      </li>
    </ul>
  </div>
</div>    
<div id="canvas-score" class="canvas-score well" ng-click="ManageClick($event)"></div>
<div id="error"></div>