<div class="modal fade" id="privacyModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" ng-i18next="flat:score.visibility"></h4>
      </div>
      <div class="modal-body">
        <!-- Privacy -->
        <div class="radio">
            <input type="radio" name="public" ng-model="public" id="repo-public" value="1">
            <label for="repo-public">
                <i class="glyphicon glyphicon-globe"></i>
                <span ng-i18next="flat:score.public">Public</span>
            </label>
            <span class="help-block" ng-i18next="flat:score.public-help">Anyone can see this score. You choose who can work on your score.</span>
        </div>
        <div class="radio">
            <input type="radio" name="public" ng-model="public" id="repo-private" value="0">
            <label for="repo-private">
                <i class="glyphicon glyphicon-lock"></i>
                <span ng-i18next="flat:score.private">Private</span>
            </label>
            <span class="help-block" ng-i18next="flat:score.private-help">You choose who see and work on your score.</span>
        </div>
        <!-- /Privacy -->
      </div>
      <div class="modal-footer">
        <a href="" class="btn btn-default" data-dismiss="modal" ng-i18next="flat:close"></a>
        <a href="" class="btn btn-primary" ng-i18next="flat:save" ng-click="save()"></a>
      </div>
    </div>
  </div>
</div>