<div class="first">
	<a href="" title="{{ tool.title }}"
	   ng-click="showMenu(toolName, $event)"
	   ng-repeat="(toolName, tool) in tools"
	   ng-class="{active: tool.displayed, inactive: !tool.displayed}"
	   ng-style="tool.styles" class="active-toolbar">
	   	<span class="toolbar-close" ng-show="tool.displayed">×</span>
		<p class="icon-wrapper"><i class="{{ tool.class }}"></i></p>
	</a>
</div>
<div class="second">
	<div class="toolbar" ng-repeat="(toolName, tool) in tools" ng-class="{active: tool.displayed, inactive: !tool.displayed}" id="tb-{{ toolName}}">
		<a href="" ng-repeat="sub in tool.subs" title="{{ sub.title }}" ng-show="tool.displayed">
			<i class="{{ sub.class }}" ng-show="sub.class"></i>
			<img class="svg-container" toolbar-svg="sub.svg" svg-width="sub.svgWidth" svg-height="sub.svgHeight" ng-show="typeof(sub.svg) != 'undefined'"></object>
		</a>
	</div>
</div>