@import "bootstrap.less";
@import "flat-icons-font.less";

/*!
 * Flat - Editor
 * Copyright 2013 - Flat.io
 */

// Variables
// - Toolbars
@toolbarHeight: 35px;
@iconWidth: 45px;
@toolbarPrimaryBG: #1e1e1e;
@toolbarPrimaryHover: #247794;
@toolbarPrimaryActive: darken(#247794, 15%);
@toolbarSecondaryBG: #303030;

// - Icons
@iconFlatSpritePath: "../img/icon-test-white.png";

// --------------------------------------------------

.toolbar-top {
  .user-select(none);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;

  .over {
    height: 5px;
    background: @flat-blue;
  }

  .flat-logo {
    position: absolute;
    top: 0;
    right: 20px;
    background: @flat-blue;
    #gradient > .vertical(@flat-blue, 0%, darken(@flat-blue, 10%), 100%);
    width: 70px;
    padding: 10px;
    border-bottom-left-radius: @border-radius-base;
    border-bottom-right-radius: @border-radius-base;

    img {
      width: 50px;
    }
  }

  .first, .second {
    overflow: hidden;

    a {
      color: #fff;
    }

    a:hover {
      text-decoration: none;
    }

    .icon-toolbar(@size, @lineHeight) {
      line-height: @lineHeight;
      height: @toolbarHeight;
      font-size: @size;
    }

    .icon-toolbar-link(@size) {
      padding-top: (@toolbarHeight - @size) / 2;
      padding-bottom: (@toolbarHeight - @size) / 2;
    }

    [class^="unicode-icon"], [class^="unicode-icon"]:hover {
      .icon-toolbar(26px, 42px);
      position: relative;
      top: -5px;
    }

    [class^="flat-iconf-"], [class^="flat-iconf-"]:hover {
      .icon-toolbar(30px, 35px);
    }

    .glyphicon, .glyphicon:hover {
      .icon-toolbar(18px, 48px);
      position: relative;
      top: -5px;
    }
  }

  .first {
    height: @toolbarHeight;
    #gradient > .vertical(@toolbarPrimaryBG, 0%, lighten(@toolbarPrimaryBG, 3%), 100%);
    border-bottom: 1px solid #000;
    padding-right: 100px;

    p.icon-wrapper {
      width: @iconWidth - 2 * 11;
      text-align: center;
    }

    a.link-tool {
      padding: 0px 11px;
      margin: 0 -1px 0 0;
      display: inline-block;
      width: @iconWidth;
      text-align: center;
    }

    a.link-tool:hover {
      #gradient > .vertical(@toolbarPrimaryHover, 0%, darken(@toolbarPrimaryHover, 15%), 100%);
      padding: 0px 10px;
      border-left: 1px solid #000;
      border-right: 1px solid #000;
      width: @iconWidth;
    }

    .active, a.active:hover {
      padding: 0px 10px;
      text-align: left;
      #gradient > .vertical(lighten(@toolbarPrimaryBG, 3%), 0%, lighten(@toolbarPrimaryBG, 6%), 100%);
      border-left: 1px solid #000;
      border-right: 1px solid #000;

      span.toolbar-close {
        float: right;
        text-decoration: none;
        color: #999;
        line-height: @toolbarHeight - 2;
      }
    }

    .tool-right {
      float: right;
    }

    .tool-save  {
      float: right;
      padding-right: 0;
      margin-right: -1px;

      a:hover {
        #gradient > .vertical(@state-success-text, 0%, lighten(@state-success-text, 6%), 100%);
      }

      input {
        float: left;
        width: 150px;
        margin-top: 2px;
      }

      .toolbar-close {
        float: left!important;
        width: 18px;
      }
    }
  }

  .second {
    height: @toolbarHeight * 2;
    
    .toolbar {
      height: @toolbarHeight * 2;
      float: left;
    }

    .toolbar.inactive {
      width: @iconWidth - 1;
    }

    .toolbar.active {
      min-width: 60px;
      #gradient > .vertical(@toolbarSecondaryBG, 0%, lighten(@toolbarSecondaryBG, 3%), 100%);
      border: 1px solid #000;
      border-top: 1px solid lighten(@toolbarSecondaryBG, 5%);
      margin-right: -1px;
    }

    .svg-container, .active-container {
      display: inline-block;
    }

    .active-container.active {
       #gradient > .vertical(lighten(@toolbarSecondaryBG, 7%), 0%, lighten(@toolbarSecondaryBG, 10%), 100%);
    }

    svg path, svg rect {
      fill: #fff;
      stroke: #fff;
    }

    #tb-l02_keySignature .svg-container {
      padding: 0 5px;
    }

    #tb-l03_note .svg-container {
      margin: 0 -10px;
    }

    #tb-l04_player {
      text-align: center;

      .svg-container {
      /*display: block;*/
      }
    }
  }
}

#canvas-score {
  margin-top: 130px;
  z-index: 1;
}

.toolbar-bottom {
  position: fixed;
  bottom: 0;
  height: @toolbarHeight;
  width: 100%;
  #gradient > .vertical(lighten(@toolbarPrimaryBG, 3%), 0%, @toolbarPrimaryBG, 100%);
  border-top: 1px solid #000;
  
  a {
    color: #fff;
  }

  a:hover {
    text-decoration: none;
  }

  .pull-left {
    color: #fff;
    line-height: @toolbarHeight;
    margin-left: 10px;
  }

  .score-last-activity {
    color: @gray-light;
  }

  .pull-right {
    float: right;
    height: @toolbarHeight;
  }

  .scroll, .collaborators, .collaborators-avatars {
    height: 100%;
    float: right;
    position: relative;
    top: 0;
  }

  .collaborators-avatars img {
    height: @toolbarHeight;
  }

  /*.scroll {
    width: 400px;
    background: #0ff
  }*/

  .collaborators {
    padding: 0 10px;

    a {
      line-height: @toolbarHeight;
    }

    .glyphicon {
      font-size: 18px;
    }
  }
}

// Icons
[class^="unicode-icon-"] {
  line-height: 1;
}  

.unicode-icon-sharp:before               { content: "\266F"; }
.unicode-icon-eighth:before             { content: "\266A"; }

// - Fonts
[class^="flat-iconf-"] {
  font-family: 'flat-icon';
  .icon-font();
}

.flat-iconf-treble:before       { .icon-content(@treble_clef); }

// - Sprites
[class^="flat-icons-"] {
  display: inline-block;
  .sprite-image(@75-keysign-0);
}

.sprite-flat(@sprite) {
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

.flat-icons-clef-mezzosoprano   { .sprite-flat(@64-mezzosoprano_clef); }
.flat-icons-clef-soprano        { .sprite-flat(@64-soprano_clef); }
.flat-icons-clef-bass           { .sprite-flat(@64-bass_clef); }

// Modals
#collaboratorsModal {
  .add {
    margin: 10px 0 0 0;
    padding: 10px;
    background-color: lighten(@flat-blue, 60%);
    border-radius: @border-radius-base;
  }

  .collaborator {
    border-bottom: 1px solid @gray-lighter;
    padding: 10px 0;

    .avatar, .username, .select, .remove {
      height: 30px;
      line-height: 30px;
    }

    .avatar {
      float: left;
      margin-right: 10px;
      width: 30px;
      text-align: center;
    }

    .select {
      float: right;
      width: 150px;
    }

    .remove {
      float: right;
      margin: 0 0 0 15px;
    }

    .remove a {
      line-height: 25px;
    }
  }

  .add-textarea, .add-right {
    float: left;
  }

  .add-textarea {
    height: 50px;
  }

  .add-textarea.active {
    width: 70%;
    height: 70px;
  }

  .add-right {
    padding: 0 0 0 5px;
    width: 30%;

    input[type="submit"] {
      float: right;
      margin: 5px 0 0 0;
    }
  }
}
