@import "bootstrap.less";
@import "sprite-key-signatures.less";

/*!
 * Flat - Dashboard
 * Copyright 2013 - Flat.io
 */

.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

.flat-dashboard {
    // Header
    .navbar.header {
        border-bottom: 1px solid #dadada;

        .container {
            height: 80px;
            padding: 10px 0;
            text-shadow: 0 1px 0 #fff;

            // Logo
            .logo {}

            // Header Right
            .account {
                padding: 6px 0;

                img {
                    border-radius: 3px;
                    box-shadow: 0 1px 0 #fff;
                    margin-left: 20px;
                }
            }
        }
    }

    /* Content */
    .content-wrapper {
        margin: 120px auto auto auto;
    }

    .content-signup {
        /*border: 1px solid #dadada;*/
        /*border-radius: @border-radius-base;*/
        padding: 30px;

        h1 {
            text-align: center;
            margin: 0 auto 20px auto;
        }
    }

    .content {
        .make-row();

        .content-left {
            .make-column(4);
            padding-left: 0;

            .new-score a {
            }
        }

        .content-main {
            .make-column(8);
        }
    }

    /* _myscores.html */
    .panel.my-score {
        .panel-heading {
            font-weight: 300;

            .pull-right {
                margin: -3px;
            }
        }

        li.score {
            padding-right: 15px;

            a { 
                display: block;
                i { color: #aaa; }
            }
        }

        li.more-score {
            background: @gray-lighter;
        }
    }


    /* score/_new.html */
    .newscore-properties {
        .make-column(6);
        margin: auto;
        float: none!important;

        ul.list-instruments {
            .user-select(none);
            padding: 5px 0;

            li {
                border: 1px solid @gray-lighter;
                margin: 10px 0;
                padding: 6px 10px;
                cursor: move;
            }

            .close {
                line-height: 16px;
            }
        }

        .keysigns {
            clear: both;
            max-width: 490px;
            margin: auto;

            .keysigns-clear {
                .clearfix();
            }
        }

        .keysign-container {
            float: left;
            padding: 0 8px;
            border: 2px solid transparent;
        }

        .keysign-selected {
            border: 2px solid @flat-blue;
        }

        [class^="keysignicon-"] {
            .sprite-image(@keysign-0);
        }

        .keysignicon-0 {
            .sprite-position(@keysign-0);
            .sprite-width(@keysign-0);
            .sprite-height(@keysign-0);
        }

        .spriteKeySignature (@i, @kstype) when (@i > 0) {
            .keysignicon-@{i}-@{kstype} {
                height: ~"@{keysign-@{i}@{kstype}-height}";
                width: ~"@{keysign-@{i}@{kstype}-width}";
                @sprite-offset-x: ~"@{keysign-@{i}@{kstype}-offset-x}";
                @sprite-offset-y: ~"@{keysign-@{i}@{kstype}-offset-y}";
                background-position: @sprite-offset-x  @sprite-offset-y;
            }

            .spriteKeySignature(@i - 1, @kstype);
        }

        .spriteKeySignature(7, b);
        .spriteKeySignature(7, s);

        .timesign {
            label {
                margin-right: 20px;
            }
            input {
                width: 70px;
            }
        }
    }

    hr {
        clear: both;
        margin: 20px 0;
        height: 0px;
        overflow: hidden;
        border: none;
        background: transparent;
        border-bottom: 1px solid @gray-lighter;
    }

    h1 {
        font-weight: 300;
        font-size: 28pt;
    }

    h1.small {
        font-size: @font-size-base * 1.25;
        margin-top: 0;
    }

    @media screen and (max-width: 768px) {
        margin-left: 10px;
    }

    .empty-fermata {
        background: url('/img/bg-empty-fermata.png') no-repeat center top;
        min-height: 100px;
        padding-top: 110px;
        margin: 75px auto 0 auto;
        width: 350px;
        text-align: center;

        a {
            display: block;
        }
    }

    .footer {
        font-size: 0.9em;
        margin: 20px auto;
        padding: 10px 0;
        border-top: 1px solid @gray-lighter;
        color: @gray-light;
    }
}

.flat-dark {
    background: darken(@flat-blue, 20px);
    color: #fff;

    .wrapper {
        margin: 50px auto 0 auto;

        @media (min-height: 600px) {
            margin: 150px auto 0 auto;
        }

        .content {
            margin: 25px 0 0 0;
        }
    }

    h1 {
        text-align: center;

        span {
            display: block;
            color: lighten(@flat-orange, 30%);
            font-weight: 300;
            font-size: 22pt;
            margin: -20px 0 0 40px;
        }
    }
}

.flat-signup {
    margin: 0 auto;

    .wrapper {
        width: 600px;
        min-width: 550px;
    }

    .alert {
        margin: 20px 10px 0 15px;

        ul {
            margin-bottom: 0;
        }
    }

    .content {
        .make-row();

        .federated {
            .make-column(6);

            a.btn {
                margin: 0 0 15px 0;
                padding: 10px 0 10px 15px;
                display: block;
                width: 100%;
                text-align: left;
            }

            a.btn-google {
                .btn-pseudo-states(#fff, #dd4b39, #dd4b39);
            }

            a.btn-facebook {
                .btn-pseudo-states(#fff, #536A97, #536A97);
            }

            a.btn-twitter {
                .btn-pseudo-states(#fff, #5EAADC, #5EAADC);
            }
        }

        .form {
            .make-column(6);
            border-left: 1px solid #fff;

            .row {
                margin-left: 0;
                margin-right: -5px;
            }

            .row.signin {
                margin-top: 20px;
                margin-bottom: 20px;
            }

            input {
                margin: 0 0 10px 0;
            }

            .tos {
                font-size: 9pt;
            }

            .submit {
                margin: 0;
            }

        }

        .other-action {
            .make-column(12);
            text-align: center;
            margin: 10px 0 0 0;
        }
    }
}

.icon-federated-google, .icon-federated-facebook, .icon-federated-twitter {
    background: url('../../img/icons-federated.png') no-repeat;
    background-size: 90px 25px;
    height: 25px;
    width: 30px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
}

.icon-federated-google {
    background-position:  0 0;
}

.icon-federated-facebook {
    background-position:  -30px 0;
    margin-top: 2px;
    margin-bottom: -2px;
}

.icon-federated-twitter {
    background-position:  -60px 0;
}
