<div class="my-score panel" ng-hide="!is_me && scores.length == 0">
    <div class="panel-heading">
        <span ng-i18next="flat:score.my-scores" ng-show="is_me">My scores</span>
        <span ng-i18next="flat:score.scores" ng-show="!is_me">Scores</span>
        <div class="pull-right" ng-show="is_me">
            <a href="#/score/new" class="btn btn-small btn-primary"><i class="glyphicon glyphicon-plus"></i> <span ng-i18next="flat:score.create">Create</span></a>
            <a href="" class="btn btn-small btn-primary"><i class="glyphicon glyphicon-upload"></i> <span ng-i18next="flat:score.import">Import</span></a>
        </div>
    </div>

    <input type="text" placeholder="{{ 'flat:score.search' | i18next }}" class="input-small" ng-model="query">
    <ul class="list-group list-group-flush">
        <li class="list-group-item score" ng-repeat="score in (scores | filter:query)">
            <a href="/editor#?score={{ score.id }}">
                <i class="glyphicon glyphicon-globe" ng-show="score.public"></i>
                <i class="glyphicon glyphicon-lock" ng-show="!score.public"></i>

                <span ng-bind-html-unsafe="score.title"></span>
                <div class="pull-right"><i class="glyphicon glyphicon-chevron-right"></i></div>
            </a>
        </li>
        <li ng-show="is_me" class="list-group-item more-score"><a ng-i18next="flat:score.see-all">See all my flat:score...</a></li>
    </ul>
</div>